body {
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    height: auto;
    background-color: white;
    border-radius: 20px;
}

.headFoto {
    background-color: white;
    border-radius: 20px;
}

.headParagraf {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headParagraf p {
    padding-bottom: 10px;
}

    .headParagraf h3 {
        color: #444;
    }

    .headParagraf h5 {
        color: #1B9CFC;
    }

.headBar {
    margin-top: 20px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
}

.golge {
    box-shadow: 0px 0px 20px 0px #011b42;
}

.headBar i {
    font-size: 22px !important;
    margin-right: 2px;
    margin-left: 35px;
    line-height: 41px;
    color: #444 !important;
}

.headBar a {
    margin-top: 20px;
    margin-left: 5px;
    color: #444 !important;
}

.sertifikalar {
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding-left: 25px;
}

.sertifikalar h4 {
    padding-top: 15px;
}

.sertifikalar i {
    padding-right: 5px;
    color: #1b9cfc;
}

.sertifikalar i,a {
    padding-bottom: 15px;
}

.yetenekler {
    height: auto;
    background-color: white;
    border-radius: 20px;
}

.yetenekler {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
}

.yetenekBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.egitimler {
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding-left: 25px;
}

.egitimler h4 {
    padding-top: 15px;
}

.egitimler h6 {
    
    padding-bottom: 10px;
}

.egitimler span {
    float: right;
    margin-right: 20px;
    color: white;
}


@media screen and (max-width: 600px) {
    .headBar {
        display: none !important;
    }

    .sertifikalar {
        margin-bottom: 20px;
    }

    .headFoto {
        margin-bottom: 20px;
    }

    .egitimler span {
        float: none;
    }

    .egitimler {
        margin-bottom: 20px;
    }

    .yetenekler {
        margin-bottom: 20px;
    }
}